<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='static/styles/styles_main.css'>
  <meta charset='UTF-8'>
  <link>
  <script src="frontend/frontend.js"></script>
</head>

<body>
  <ul id='navigation'>
    <li id='logo'><a href='#' id='logo-link'>LibSearch</a></li>
    <li id='search'><input type='text' id='search-input' placeholder="Please enter ISBN to search"></li>
    </ul>

    {% block content %}
    IF YOU ARE SEEING THIS WHILE RENDERING A PAGE SOMETHING WENT WRONG
    {% endblock %}
  
</body>
<html>