{% extends 'template.html' %}
{% block head %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Register{% endblock %}</title>
  <link rel='stylesheet' href='static/styles/styles_main.css'>
  <link rel='stylesheet' href='static/styles/login.css'>
  <meta charset='UTF-8'>
  <link>
  <script src="frontend/frontend.js"></script>
</head>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}

<div id='register'>
    Register 
  <form id='registration-form' action='/register' method='POST'>
    <input type='text' id='username' name='username' placeholder="Username">
    <input type='password' id='password' name='password' placeholder="Password">
    <button id='register-button' type='submit'>Register</button>
  </form>
</div>
{% if message %}
  {{message}}
{% endif %}

{% endblock %}

<!-- -->