{% block head %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}change this{% endblock %}</title>
  {% block style %}<link rel='stylesheet' type="text/css" href='../static/styles/styles_main.css'>{% endblock %}
  <script src="https://kit.fontawesome.com/9925cd3b99.js" crossorigin="anonymous"></script>
  <meta charset='UTF-8'>
  <!--<script src="frontend/frontend.js"></script>-->
</head>

{% endblock %}


<body>
  <ul id='navigation'>
    <li id='logo'><a href='/' id='logo-link'><h1><b>LibSearch</b></h1></a>
      {% if session['logged_in'] == 'True' %} 
      <div id='logout-button'><a href="/logout">Logout</a></div>{% endif %}</li>
    <form id='searchForm' method='POST' name='searchForm' action="/search">
      <input type='text' id='search-input' name='searchBar' placeholder='Please enter ISBN'>
      <button type='submit' id='submit-button'><h2>Submit</h2></button>
    </form>
    </ul>
    <div id='content'>
    {% block content %}
    IF YOU ARE SEEING THIS WHILE RENDERING A PAGE SOMETHING WENT WRONG
    {% endblock %}
    </div>
</body>
</html>