{% extends 'basetemplate.html' %}

{% block title %} Search books {% endblock %}

{% block content %}

<div id='search-area'>
<?xml version="1.0" encoding="UTF-8"?>
<GoodreadsResponse>
  <Request>
    <authentication>true</authentication>
      <key><![CDATA[7CXiGcXrotgoPlcPvEFZMw]]></key>
    <method><![CDATA[search_index]]></method>
  </Request>
  <search>
  <query><![CDATA[daniel suarez]]></query>
    <results-start>1</results-start>
    <results-end>18</results-end>
    <total-results>151</total-results>
    <source>Goodreads</source>
    <query-time-seconds>0.08</query-time-seconds>
    <results>
        <work>
  <id type="integer">4763873</id>
  <books_count type="integer">3</books_count>
  <ratings_count type="integer">38075</ratings_count>
  <text_reviews_count type="integer">3041</text_reviews_count>
  <original_publication_year type="integer">2006</original_publication_year>
  <original_publication_month type="integer">12</original_publication_month>
  <original_publication_day type="integer">1</original_publication_day>
  <average_rating>4.16</average_rating>
  <best_book type="Book">
    <id type="integer">6665847</id>
    <title>Daemon (Daemon, #1)</title>
    <author>
      <id type="integer">1956402</id>
      <name>Daniel Suarez</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">7394861</id>
  <books_count type="integer">28</books_count>
  <ratings_count type="integer">24529</ratings_count>
  <text_reviews_count type="integer">1435</text_reviews_count>
  <original_publication_year type="integer">2010</original_publication_year>
  <original_publication_month type="integer">1</original_publication_month>
  <original_publication_day type="integer">7</original_publication_day>
  <average_rating>4.27</average_rating>
  <best_book type="Book">
    <id type="integer">8488830</id>
    <title>Freedom™ (Daemon, #2)</title>
    <author>
      <id type="integer">1956402</id>
      <name>Daniel Suarez</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1311704142l/8488830._SY160_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1311704142l/8488830._SY75_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">25441287</id>
  <books_count type="integer">3</books_count>
  <ratings_count type="integer">14975</ratings_count>
  <text_reviews_count type="integer">1314</text_reviews_count>
  <original_publication_year type="integer">2014</original_publication_year>
  <original_publication_month type="integer">2</original_publication_month>
  <original_publication_day type="integer">20</original_publication_day>
  <average_rating>3.92</average_rating>
  <best_book type="Book">
    <id type="integer">22668803</id>
    <title>Influx</title>
    <author>
      <id type="integer">1956402</id>
      <name>Daniel Suarez</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1408310795l/22668803._SY160_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1408310795l/22668803._SY75_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">19106895</id>
  <books_count type="integer">13</books_count>
  <ratings_count type="integer">10234</ratings_count>
  <text_reviews_count type="integer">820</text_reviews_count>
  <original_publication_year type="integer">2012</original_publication_year>
  <original_publication_month type="integer">7</original_publication_month>
  <original_publication_day type="integer">19</original_publication_day>
  <average_rating>3.96</average_rating>
  <best_book type="Book">
    <id type="integer">15808659</id>
    <title>Kill Decision</title>
    <author>
      <id type="integer">1956402</id>
      <name>Daniel Suarez</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1365395383l/15808659._SY160_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1365395383l/15808659._SY75_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">52090299</id>
  <books_count type="integer">13</books_count>
  <ratings_count type="integer">5493</ratings_count>
  <text_reviews_count type="integer">565</text_reviews_count>
  <original_publication_year type="integer">2017</original_publication_year>
  <original_publication_month type="integer">4</original_publication_month>
  <original_publication_day type="integer">18</original_publication_day>
  <average_rating>3.96</average_rating>
  <best_book type="Book">
    <id type="integer">31396262</id>
    <title>Change Agent</title>
    <author>
      <id type="integer">1956402</id>
      <name>Daniel Suarez</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1470817172l/31396262._SX98_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1470817172l/31396262._SY75_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">63641270</id>
  <books_count type="integer">2</books_count>
  <ratings_count type="integer">3166</ratings_count>
  <text_reviews_count type="integer">339</text_reviews_count>
  <original_publication_year type="integer">2019</original_publication_year>
  <original_publication_month type="integer">4</original_publication_month>
  <original_publication_day type="integer">23</original_publication_day>
  <average_rating>4.16</average_rating>
  <best_book type="Book">
    <id type="integer">40859000</id>
    <title>Delta-V</title>
    <author>
      <id type="integer">1956402</id>
      <name>Daniel Suarez</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1531868275l/40859000._SX98_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1531868275l/40859000._SY75_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">2809709</id>
  <books_count type="integer">4672</books_count>
  <ratings_count type="integer">908853</ratings_count>
  <text_reviews_count type="integer">14990</text_reviews_count>
  <original_publication_year type="integer">1811</original_publication_year>
  <original_publication_month type="integer">10</original_publication_month>
  <original_publication_day type="integer">30</original_publication_day>
  <average_rating>4.07</average_rating>
  <best_book type="Book">
    <id type="integer">24748601</id>
    <title>Sentido y sensibilidad</title>
    <author>
      <id type="integer">1265</id>
      <name>Jane Austen</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1422548958l/24748601._SX98_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1422548958l/24748601._SX50_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">256076</id>
  <books_count type="integer">725</books_count>
  <ratings_count type="integer">93102</ratings_count>
  <text_reviews_count type="integer">2027</text_reviews_count>
  <original_publication_year type="integer">1827</original_publication_year>
  <original_publication_month type="integer" nil="true"/>
  <original_publication_day type="integer" nil="true"/>
  <average_rating>4.28</average_rating>
  <best_book type="Book">
    <id type="integer">22446616</id>
    <title>El cuervo</title>
    <author>
      <id type="integer">4624490</id>
      <name>Edgar Allan Poe</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">707252</id>
  <books_count type="integer">780</books_count>
  <ratings_count type="integer">33984</ratings_count>
  <text_reviews_count type="integer">781</text_reviews_count>
  <original_publication_year type="integer">1780</original_publication_year>
  <original_publication_month type="integer">9</original_publication_month>
  <original_publication_day type="integer">17</original_publication_day>
  <average_rating>4.07</average_rating>
  <best_book type="Book">
    <id type="integer">36620663</id>
    <title>El Federalista (Básica de Bolsillo – Serie Clásicos del pensamiento político)</title>
    <author>
      <id type="integer">51287</id>
      <name>Alexander Hamilton</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">2308685</id>
  <books_count type="integer">777</books_count>
  <ratings_count type="integer">18904</ratings_count>
  <text_reviews_count type="integer">446</text_reviews_count>
  <original_publication_year type="integer">1863</original_publication_year>
  <original_publication_month type="integer" nil="true"/>
  <original_publication_day type="integer" nil="true"/>
  <average_rating>3.77</average_rating>
  <best_book type="Book">
    <id type="integer">25551871</id>
    <title>Fünf Wochen im Ballon mit farbigen Bildern</title>
    <author>
      <id type="integer">696805</id>
      <name>Jules Verne</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">2301058</id>
  <books_count type="integer">357</books_count>
  <ratings_count type="integer">16993</ratings_count>
  <text_reviews_count type="integer">818</text_reviews_count>
  <original_publication_year type="integer">-335</original_publication_year>
  <original_publication_month type="integer" nil="true"/>
  <original_publication_day type="integer" nil="true"/>
  <average_rating>3.82</average_rating>
  <best_book type="Book">
    <id type="integer">35202867</id>
    <title>Poètica</title>
    <author>
      <id type="integer">2192</id>
      <name>Aristotle</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1495488507l/35202867._SX98_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1495488507l/35202867._SX50_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">2939230</id>
  <books_count type="integer">1</books_count>
  <ratings_count type="integer">0</ratings_count>
  <text_reviews_count type="integer">0</text_reviews_count>
  <original_publication_year type="integer">2006</original_publication_year>
  <original_publication_month type="integer">7</original_publication_month>
  <original_publication_day type="integer">13</original_publication_day>
  <average_rating type="float">0.0</average_rating>
  <best_book type="Book">
    <id type="integer">2912057</id>
    <title>Perfect Square: Kandinsky</title>
    <author>
      <id type="integer">6951367</id>
      <name>Daniel Suarez Perez</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">40669215</id>
  <books_count type="integer">1</books_count>
  <ratings_count type="integer">1</ratings_count>
  <text_reviews_count type="integer">0</text_reviews_count>
  <original_publication_year type="integer">2012</original_publication_year>
  <original_publication_month type="integer">6</original_publication_month>
  <original_publication_day type="integer">13</original_publication_day>
  <average_rating>5.00</average_rating>
  <best_book type="Book">
    <id type="integer">21367516</id>
    <title>Writing without Walls: June 2012</title>
    <author>
      <id type="integer">9837092</id>
      <name>Daniel  Suarez</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">44618950</id>
  <books_count type="integer">1</books_count>
  <ratings_count type="integer">1</ratings_count>
  <text_reviews_count type="integer">0</text_reviews_count>
  <original_publication_year type="integer">2006</original_publication_year>
  <original_publication_month type="integer">8</original_publication_month>
  <original_publication_day type="integer">28</original_publication_day>
  <average_rating>4.00</average_rating>
  <best_book type="Book">
    <id type="integer">24957504</id>
    <title>Perfect Square: Kandinsky</title>
    <author>
      <id type="integer">9837092</id>
      <name>Daniel  Suarez</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">922141</id>
  <books_count type="integer">59</books_count>
  <ratings_count type="integer">12511</ratings_count>
  <text_reviews_count type="integer">410</text_reviews_count>
  <original_publication_year type="integer">1996</original_publication_year>
  <original_publication_month type="integer" nil="true"/>
  <original_publication_day type="integer" nil="true"/>
  <average_rating>4.11</average_rating>
  <best_book type="Book">
    <id type="integer">419317</id>
    <title>La Cautiva del Amor (Malory Family, #5)</title>
    <author>
      <id type="integer">29542</id>
      <name>Johanna Lindsey</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">230247</id>
  <books_count type="integer">401</books_count>
  <ratings_count type="integer">4877</ratings_count>
  <text_reviews_count type="integer">108</text_reviews_count>
  <original_publication_year type="integer">1878</original_publication_year>
  <original_publication_month type="integer" nil="true"/>
  <original_publication_day type="integer" nil="true"/>
  <average_rating>3.91</average_rating>
  <best_book type="Book">
    <id type="integer">25953471</id>
    <title>Un capitán de 15 años (con Biografía)</title>
    <author>
      <id type="integer">696805</id>
      <name>Jules Verne</name>
    </author>
    <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>
    <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">25691219</id>
  <books_count type="integer">206</books_count>
  <ratings_count type="integer">1924</ratings_count>
  <text_reviews_count type="integer">111</text_reviews_count>
  <original_publication_year type="integer">1869</original_publication_year>
  <original_publication_month type="integer" nil="true"/>
  <original_publication_day type="integer" nil="true"/>
  <average_rating>3.83</average_rating>
  <best_book type="Book">
    <id type="integer">34031175</id>
    <title>Wokół Księżyca</title>
    <author>
      <id type="integer">696805</id>
      <name>Jules Verne</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1485533123l/34031175._SX98_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1485533123l/34031175._SX50_.jpg</small_image_url>
  </best_book>
</work>

        <work>
  <id type="integer">43347974</id>
  <books_count type="integer">1</books_count>
  <ratings_count type="integer">2</ratings_count>
  <text_reviews_count type="integer">1</text_reviews_count>
  <original_publication_year type="integer">2006</original_publication_year>
  <original_publication_month type="integer">1</original_publication_month>
  <original_publication_day type="integer">1</original_publication_day>
  <average_rating>2.50</average_rating>
  <best_book type="Book">
    <id type="integer">23735953</id>
    <title>Klimt</title>
    <author>
      <id type="integer">10736091</id>
      <name>Hector Daniel Suarez</name>
    </author>
    <image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418182679l/23735953._SX98_.jpg</image_url>
    <small_image_url>https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418182679l/23735953._SX50_.jpg</small_image_url>
  </best_book>
</work>

    </results>
</search>

</GoodreadsResponse>
    
</div>
{% endblock %}